[submodule "contracts/lib/ds-test"]
	path = contracts/lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "contracts/lib/chainlink"]
	path = contracts/lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
