{
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 110
      }
    },
    {
      "files": "*.t.sol",
      "options": {
        "printWidth": 120
      }
    }
  ]
}
